/*
Theme Name: Roam Child
Theme URI: http://roam.mikado-themes.com
Description: A child theme of Roam Theme
Author: Mikado Themes
Author URI: http://themeforest.net/user/mikado-themes
Version: 1.0.0
Text Domain: roam
Template: roam
*/


.mkdf-logo-wrapper.not-home img { max-height: 70px; }
.mkdf-tours-single-title.mkdf-tour-single-title-skin-light { max-height: 500px !important; }
.w-table .mkdf-pt-button a { display: none; }
#tribe-events {margin-bottom: 50px;}
.mkdf-mobile-header .mkdf-mobile-menu-opener a .mkdf-mobile-menu-icon { font-size: 42px; }
.mkdf-page-header .mkdf-vertical-align-containers { background: #000 !important; }

@media (max-width: 800px) {
	.mkdf-title-holder .mkdf-title-wrapper .mkdf-page-title { font-size: 48px !important; }
}

@media (max-width: 480px) {
	.mkdf-title-holder .mkdf-title-wrapper .mkdf-page-title { font-size: 36px !important; }
}