/* ==========================================================================
   Side area styles - begin
   ========================================================================== */
/* Button mixins - start */
/* Button mixins - end */
/* ==========================================================================
# Side area style - begin
========================================================================== */
.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener,
.mkdf-light-header .mkdf-top-bar .mkdf-side-menu-button-opener {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener.opened, .mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener:hover,
.mkdf-light-header .mkdf-top-bar .mkdf-side-menu-button-opener.opened,
.mkdf-light-header .mkdf-top-bar .mkdf-side-menu-button-opener:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener,
.mkdf-dark-header .mkdf-top-bar .mkdf-side-menu-button-opener {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener.opened, .mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-side-menu-button-opener:hover,
.mkdf-dark-header .mkdf-top-bar .mkdf-side-menu-button-opener.opened,
.mkdf-dark-header .mkdf-top-bar .mkdf-side-menu-button-opener:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

.mkdf-side-menu-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: -3px;
}

.mkdf-side-menu-button-opener .mkdf-side-menu-title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
  color: currentColor;
}

.mkdf-side-menu-button-opener .mkdf-side-menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.mkdf-side-menu-button-opener .mkdf-side-menu-icon .mkdf-sm-lines {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.mkdf-side-menu-button-opener .mkdf-side-menu-icon .mkdf-sm-lines .mkdf-sm-line {
  position: absolute;
  right: 0;
  height: 2px;
  background-color: currentColor;
  border-radius: 12px;
  -webkit-transition: -webkit-transform .2s ease, top .15s, background-color .2s ease-out;
  transition: transform .2s ease, top .15s, background-color .2s ease-out;
}

.mkdf-side-menu-button-opener .mkdf-side-menu-icon .mkdf-sm-lines .mkdf-sm-line.mkdf-line-1 {
  width: 16px;
  top: 0;
  outline: transparent solid 1px;
}

.mkdf-side-menu-button-opener .mkdf-side-menu-icon .mkdf-sm-lines .mkdf-sm-line.mkdf-line-2 {
  width: 10px;
  top: calc(50% - 1px);
  outline: transparent solid 1px;
}

.mkdf-side-menu-button-opener .mkdf-side-menu-icon .mkdf-sm-lines .mkdf-sm-line.mkdf-line-3 {
  width: 15px;
  top: calc(100% - 2px);
  outline: transparent solid 1px;
}

.mkdf-side-menu-button-opener.opened, .mkdf-side-menu-button-opener:hover {
  color: #ff681a;
}

.mkdf-side-menu-button-opener.opened .mkdf-sm-lines .mkdf-sm-line.mkdf-line-1, .mkdf-side-menu-button-opener.opened .mkdf-sm-lines .mkdf-sm-line.mkdf-line-3, .mkdf-side-menu-button-opener:hover .mkdf-sm-lines .mkdf-sm-line.mkdf-line-1, .mkdf-side-menu-button-opener:hover .mkdf-sm-lines .mkdf-sm-line.mkdf-line-3 {
  top: calc(50% - 1px);
}

.mkdf-side-menu-button-opener.opened .mkdf-sm-lines .mkdf-sm-line.mkdf-line-2, .mkdf-side-menu-button-opener:hover .mkdf-sm-lines .mkdf-sm-line.mkdf-line-2 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 16px;
  -webkit-transition: -webkit-transform .15s ease .2s, top .2s ease-out, background-color .2s ease-out;
  transition: transform .15s ease .2s, top .2s ease-out, background-color .2s ease-out;
}

.mkdf-side-menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  min-height: 100%;
  padding: 70px 37px 36px;
  background-color: rgba(46, 46, 46, 0.95);
  text-align: left;
  overflow: hidden;
  visibility: hidden;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  box-shadow: -3px 0 3px rgba(0, 0, 0, 0.04);
  -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.mkdf-side-menu .mkdf-close-side-menu-holder {
  position: absolute;
  top: 36px;
  right: 37px;
  z-index: 1000;
}

.admin-bar .mkdf-side-menu .mkdf-close-side-menu-holder {
  top: 68px;
}

.mkdf-side-menu a.mkdf-close-side-menu {
  display: block;
  color: #fff;
  font-size: 40px;
  z-index: 1000;
}

.mkdf-side-menu a.mkdf-close-side-menu:hover {
  color: #ff681a;
}

.mkdf-side-menu a.mkdf-close-side-menu span {
  display: block;
  line-height: inherit;
}

.mkdf-side-menu a.mkdf-close-side-menu span:before {
  display: block;
  line-height: inherit;
}

.mkdf-side-menu-slide-from-right.mkdf-right-side-menu-opened .mkdf-wrapper .mkdf-cover {
  z-index: 3000;
}

.mkdf-side-menu-slide-from-right.mkdf-right-side-menu-opened .mkdf-side-menu {
  right: 0;
  visibility: visible;
}

.mkdf-side-menu-slide-from-right .mkdf-wrapper .mkdf-cover {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}

/* ==========================================================================
# Side area style - end
========================================================================== */
/* ==========================================================================
   Side area styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/sidearea-map.css.map */
