@media only screen and (max-width: 1024px){
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
/* generated in /var/www/html/wp-content/themes/roam/assets/custom-styles/general-custom-styles-responsive.php roam_mikado_h1_responsive_styles3 function */
h1 { font-size: 100px;}

}

@media only screen and (min-width: 681px) and (max-width: 768px){
/* generated in /var/www/html/wp-content/themes/roam/assets/custom-styles/general-custom-styles-responsive.php roam_mikado_h1_responsive_styles function */
h1 { font-size: 70px;}

}

@media only screen and (max-width: 680px){
/* generated in /var/www/html/wp-content/themes/roam/assets/custom-styles/general-custom-styles-responsive.php roam_mikado_h1_responsive_styles2 function */
h1 { font-size: 50px;}

}